@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Jost', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Start Header */
header {
  display: flex;
  align-items: center;
  height: 4.5rem;
  justify-content: space-evenly;
}

.logo {
  font-size: 3rem;
  font-family: "Jost", sans-serif;
}

/* Start a navbar */
/* nab li */
nav {
  gap: 2.4rem;
}
nav ul {
  gap: 1.5rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration-line: none;
  color: black;
  font-size: 1.08rem;
  text-underline-position: top1px;
}
/* hover efect */
nav ul li a:hover {
  text-decoration-line: underline;
}

/* Start a input search */
.search {
  background-color: #f5f5f5;
  padding: 0.22rem 0.5rem;
  border-radius: 5rem;
}
.search input {
  border: transparent;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  width: 11rem;
}
.search button {
  border: transparent;
  background-color: transparent;
  border-radius: 5rem;
  padding: 0.3rem;
}
.search button:hover {
  cursor: pointer;
}

/* add card heart and shop */
nav .addcards {
  gap: 1rem;
  /* background-color: #F5F5F5; */
  padding: 1rem 0.75rem;
  border-radius: 5rem;
  /* border: 2px solid #F5F5F5; */
}
nav .addcards:hover {
  cursor: pointer;
}
/* hr line */
.headerline {
  margin: 0;
  border-bottom: 0.5cap;
  border-color: #0000006c;
}
/* End a header & nav */

/* hero section */
.hero {
  gap: 2rem;
  width: 100%;
  margin: 2rem;
  height: fit-content;
}

.blackline {
  border: 0.01px solid #0000006c;
  border-left: 0.5cap;
  margin: -2rem 10px;
}

/* hero left */
.hero .herolist {
  max-width: 15%;
  width: 100%;
  flex-direction: column;
}
/* ul li a */
.hero .herolist ul li {
  margin: 10px 0;
}

/* hero right */
.hero .heroimgs {
  max-width: 75%;
  width: 100%;
}

/* mian img iphone */
.heroimgs img {
  scale: 1.1;
}

/* ---------------------------------------------- */
/* ----------------------------------------------- */

/* second sections */
.secondSection {
  margin-top: 5rem;
  padding: 0 6em;
  flex-direction: column;
}

/* first /todaybox today box logo */
.blankbox1 {
  width: 20px;
  height: 40px;
  background: #db4444;
  border-radius: 5rem;
  margin: 0 10px;
}
.todaybox {
  font-weight: 600;
  color: #db4444;
}

.timeBtnbox {
  justify-content: space-between;
  width: 70vw;
}

/* First/second sales day -timezome */

/*  */

.bigtext {
  font-size: 3vw;
  font-weight: 500;
  margin: 0 10px;
}
/* timezone */
.timezone p {
  margin: 0;
}
.timezone {
  margin: 0 3rem;
}

.timezone div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.timetime {
  font-size: 2em;
  font-weight: 500;
}

.timedot {
  color: #e07575;
}
.btns{
  margin: 0 2vw 0 0;
}
.Btnbox button,
.ourProdect .btns button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: #f5f5f5;
  margin: 0 6px; 
}
/* ---------------------------------- */


/* items icons lestted */
.itembox {
  width: 270px;
  margin: 30px 20px;
  /* height: 250px; */
  /* background-color: #f5f5f5; */
}
.mainimg {
  width: 270px;
  height: 250px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

/* list icons heart and eyes icons */
.imgtopicon {
  width: 0;
  height: 0;
  display: flex;
  position: relative;
  z-index: 10;
  top: 15px;
  left: 15px;
}

/* off price -40% */

.off {
  width: 55px;
  height: 26px;
  background-color: #db4444;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}
.he {
  left: 100px;
}
.he button {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: transparent;
  margin-top: 10px;
  position: relative;
  left: 155px;
  top: -6px;
}

/* Detail in  */
.itemDetail {
  padding: 0 0 0 6px;
}
.itemName {
  font-size: 16px;
  font-weight: 500;
}
.price {
  color: #db4444;
  font-size: 20px;
  font-weight: 500;
}
.cattext {
  text-decoration: line-through;
  color: #878787;
  font-size: 15px;
  font-weight: 400;
}
.retingp {
  color: #878787;
}
/* stars */
.reting {
  font-size: 13px;
}


/* --- button--- */
.view1{
  width: 234px;
  height: 56px;
  background: #db4444;
  color: #fff;
  border: 1px solid #db4444;
  border-radius: 15px;
  text-align: center;
font-weight: 500;
font-size: 18px;
font-family: "Poppins", sans-serif;
margin: 45px 0;
}

.blankline2{
  width: 90vw;
  border: 0.01px solid #0000006c;
  border-bottom: 0.5cap;
  margin: 10px 0 50px;
  opacity: 0.3;

}

/* -------------------------------------------- */
/* -------------------------------------------- */
.categorie{
  flex-direction: column;
}
.categorie .first,
 .monthsell,
 .ourProdect,
 .section6 .first{
  margin: 0 5vw;
  width: 90vw;
}
.btns2{
  margin: 0 2vw 0 0;
}
.csp{
  justify-content: space-between;
}


/* cetegoriebox */
.categoriebox.flexaj {
  gap: 25px;
  margin: 50px 0;
}

.cicon{
  width: 170px;
  height: 145px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;
  border-radius: 10px;
}
.cicon img{
  width: 56px;
  height: 56px;
}
.cicon .text{
font-size: 16px;
margin-top: 7px;
font-weight: 500;
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

/* monthsell section */
.monthBtn button{
width: 159px;
}

.monthProdects .he button
,.ourprodectListed .he button{
left: 205px;
}
/* ----------------------- */
/* ----------------------- */

/* add1 img */
.add1 img{
  margin: 60px auto;
  scale: 1.025;
}
/* ------------- */

/* ourProdects */
.ourprodectListed{
  width: 80vw;
  /* margin: 60px auto; */
  flex-wrap: wrap;
}
.second1 {
  flex-direction: column;
}

/* New section6 */

.section6{
  gap: 30px;
  margin: 60px 0;
}
/* ps5 */
.ps5{
  width: 570px;
  height: 600px;

}
.ps5 img{
  padding: 89px 0 0 0;
}
.bgblack{
background-color: #000;
color: #fff;
border-radius: 10px;

}
.z{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  height: 0;
  bottom: -76%;
  left: 20px;
  
}
.z .name{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.z .text{
  width: 242px;
  font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FAFAFA;
margin-top: 10px;
}
.z button{
  width: 90px;
  height: 24px;
  background: transparent;
  border: transparent;
    border-bottom-color: transparent;
    border-bottom-style: none;
    border-bottom-width: medium;
  color: #fff;
  border-bottom: 1px solid;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
margin-top: 15px;  
font-family: "Poppins", sans-serif;
}
/* women */
.women{
  width: 570px;
  height: 284px;
  /* margin: 10px; */
}
.women .z{
  bottom: -50%;
}
.women .rightimg{
  width: fit-content;
padding-left: 21%;
}
/* boxs2 */
.boxs2{
  gap: 30px;
margin-top: 30px;
}
.Speakers,
.perfume{
  width: 270px;
  height: 284px;
}
.imgp2{
  height: 100%;
}
.boxs2 .z{
  bottom: -59%;
}

/* ------------------------------------ */
/* ------------------------------------ */
.section7{
  gap: 8%;
  margin: 110px 0;
}
.s7box1{
  flex-direction: column;
  
}
.bb1{
  width: 80px;
  height: 80px;
  border-radius:50%;
background-color: #2F2E30
}
.bb2{
  width: 58px;
  height: 58px;
  border-radius:50%;
  background-color: #000;

}
.s7box1 .text1{
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 25px;
}
.s7box1 .text2{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

}
/* ------------------------------------------ */
/* ------------------------------------------ */

/* footer */
footer{
  background-color: #000;
  color: #FAFAFA;
  justify-content: space-evenly;
  padding: 50px 0 0 0;
}
.content{
  margin: 60px 0;
}
footer .textp1{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 24px 0;
}
footer .textp2{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 24px 0;
}
footer .textp3{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;

}

/* footer email input and button */
.FooterInput{
  /* border: 1px solid #FAFAFA; */
  width: 225px;
height: 48px;
border: 1.5px solid #FAFAFA;
border-radius: 4px;

}
footer .l1{
  flex-direction: column;
}
.FooterInput input{
  font-size: 16px;
  font-weight: 400;
  /* opacity: 0.4; */
  font-family: "Poppins", sans-serif;
  border: transparent;
  background-color: transparent;
  color: #FAFAFA;
padding: 5px 0 5px 10px;
width: 170px;
}
.FooterInput button{
  border: transparent;
  background-color: transparent;
  color: #FAFAFA;
}
.lastp{
  color: #FAFAFA;
}